#top{
	height: 50px;
	border: solid 1px grey;
	background: #98FB98;
}
#top_font{
	text-align: center;
	font-size: 16px;
	font-style:bold;
	margin-top: 9px;
} 
.photo{
	margin-top: 65px;
	margin-left:85px;
}
.photo img{
	width:90px;
}
.username{
	margin-top: 125px;
}
.protype{
	border: 1px solid grey;
	height:40px;
	margin-top: 15px;
}
.pro_font{
	font-size:14px;
	margin-top: 0px;
	height:30px;
	padding-top:10px;
}
.protype1{
	border: 1px solid grey;
	height:40px;
	margin-top: 0px;
}
.down_cla{
	padding-left: 55px;
	padding-top: 5px;
}
.bottom{
	width: 100%;
	margin-top: 125px;
	margin-left:-15px;
}