
#top{
	height: 50px;
	border: solid 1px grey;
	background: #98FB98;
}
#top_font{
	text-align: center;
	font-size: 16px;
	font-style:bold;
	margin-top: 9px;
}
#login_btn{
	text-align: center;
	margin-top: 3px;
	margin-left: 10px;
}
#great_font{
	font-size: 14px;
	height: 30px;
	border: 1px solid grey;
	margin-top: 0px;
}
.pro_font{
	font-size:14px;
	margin-top: 0px;
	height:50px;
	padding-top:15px;
}
.content_font{
	font-size:14px;
	margin-top: 0px;

}
.class_border{
	border: 1px solid grey;
}
.down_cla{
	padding-left: 55px;
	padding-top: 15px;
}

.content_border{
	border: 1px solid grey;
	height:80px;
}

.hide_content{
	padding-top: 10px;
	padding-bottom: 5px;
	display: none;
}
.protype{
	border: 1px solid grey;
	height:50px;
}
.bottom{
	width: 100%;
	margin-top: 133px;
	margin-left: 0px;
}