#top{
	height: 50px;
	border: solid 1px grey;
	background: #98FB98;
}
#top_font{
	text-align: center;
	font-size: 16px;
	font-style:bold;
	margin-top: 9px;
} 
<<<<<<< HEAD
.bottom{
	width: 100%;
	margin-top: 133px;
}
=======
>>>>>>> c8762c00de659b01e34ae5ff07b5019fb76dbad1
